*{
    box-sizing: border-box;
}

img{
    width: 64px;
    margin:auto;
    display: block;
}
/* here image display is inline so we added display block property to make it block
now if add margin audto the image comes in center*/

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    text-align: center;
}
header{
    margin: auto;
    width: 1200px;
    border: 2px solid red;
}
/* here after adding margin header not comes to the middle show that we added  its width now the header
comes in middle  */

.box{
    border: 4px solid black;
    background-color: gray;
    margin-top: 4px;
    padding:23px;
    display: block;
    width: 33%;
    box-sizing: border-box;
    display: inline-block;
}

.container{

    width: 1200px;
    margin: auto;
}
