*{
    box-sizing: border-box;
}



.container{

    width: 900px ;
    border: 3px solid olivedrab;
    background-color: cadetblue;
    /* height: 400px; */


    margin:auto;
    /* margin-left:auto; */
    /*  margin property to auto to horizontally center the element within its container.The element will then take
    up the specified width, and the remaining space will be split equally between the left and right margins. */

}

.items{

    border: 3px solid rgb(222, 101, 8);
    margin: 10px 3px;
   /* padding:12px 3px; */
    background-color: burlywood;
    border-radius: 20px;
}

#one{

    color: blue;
}
#fruitspara{
    color: rgb(135, 150, 222);
}



body{

    font-family: 'Roboto', sans-serif;
}

#fruits{

    float:left;
    width:48%;

}

#computers{

    float:right;
    width: 48%;


}

#stationary{

    /* float: left; */
    width: 100%;
    clear: both;
    /* When we use the float property, and we want the next element below (not on right or left), we will have to use the
    clear property.The clear property specifies what should happen with the element that is next to a floating element. */


}

p{

    text-align:justify;

}

h1{
    text-align: center;
    padding: 10px;
    margin: 2px;
    background-color: bisque;
}


